<div class="card" style="width: 50%;margin: 0 auto;">
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Age</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{ product.id - 1 }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.age }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>